html{
    font-family: 'Roboto Condensed', sans-serif;
    margin:0;
    padding:20px;
    background: url("/static/images/bg.png");
    background-repeat: no-repeat;
    background-position:0 200px;
    background-size: 100% auto;
}

header{
    height:250px;
}

header,main,footer{
    width:100%;
    min-width:1200px;
    max-width:1700px;
    margin:0 auto;
    position:relative;
}

header .logo{
    background:url("/static/images/logo.png") no-repeat;
    width:220px;
    height:200px;
    position:absolute;
    left:2px;
    top:2px;
}

header .logo_txt{
    width:390px;
    height:100px;
    position:absolute;
    left:182px;
    top:22px;
    color:#44c5e2;
    font-size:33pt;
}

header .logo_txt2{
    width:390px;
    height:100px;
    position:absolute;
    left:360px;
    top:90px;
    color:#1a5866;
    font-size:16pt;
}

header .current_reward{
    background:url("/static/images/rew.png") top center no-repeat;
    width:280px;
    height:120px;
    position:absolute;
    right:260px;
    top:2px;
}

header .current_reward span{
    display:block;
    margin:110px 0 0 11px;
    text-align:center;
    width:280px;
    font-size:16pt;
    color:#1a5866;
}

header .balance{
    background:url("/static/images/bal.png") no-repeat;
    width:150px;
    height:200px;
    position:absolute;
    right:42px;
    top:2px;
    color:black;
}

header .balance span{
    display:block;
    margin:4px 0 0 86px;
    text-align:center;
    width:110px;
    font-size:11pt;
}

footer{
    width:1000px;
    margin:150px auto 50px auto;
}

main{
    width:1100px;
    margin:50px auto;
    max-width:1100px;
    min-width:1100px;

}

footer .support{
    background:url("/static/images/support.png") no-repeat center 40px;
    width:300px;
    height:220px;
    margin:0 auto;
    position:relative;

}

footer .support .title{
    font-size:18pt;
    width:300px;
    text-align:center;
}

footer .support .donate{
    position:absolute;
    left:-240px;
    top:80px;
    width:300px;
}

footer .support .donate img{
    display:block;
    float:left;
    width:100px;
    height:100px;
    margin-right:10px;
}



footer .support .click{
    position:absolute;
    left:300px;
    top:80px;
    width:300px;
}

footer .support .donate div, footer .support .click div{
    font-size:17pt;
    margin:0 0 20px 0;
}

footer .donate div.adr{
    font-size:9pt;
    margin-top:15px;
    margin-left:110px;
    text-align:left;
}

footer .support span{color:#3f6433}

section.advertising{
    height:100px;
}

section.advertising .block{
    display:inline-block;
    width:28%;
    margin:5px 2% 8px 2%;
    vertical-align:top;
}

.reward_title{
    font-size:18pt;
}

main .claimform{
    margin:20px auto;
    width:480px;
    float:left;
    margin-left:140px;
}

main .claiming{
    margin-top:10px;
}

main .claiming.error{
    color:red;
    font-size:20pt;
}

main .claiming.success{
    color:green;
    font-size:20pt;
}

main .claiming .reload{
    margin-top:15px;
    display:none;
    cursor:pointer;
    text-decoration:underline;
}

main .claiming.success a{
    color:#315f1b;
}

main .claimform input[type=text]{
    width:300px;
}

main .wait{
    margin-top:20px;
}

main .claimform .subm{
    border:1px solid #3b3b3d;
    color:#3b3b3d;
    padding:5px;
    font-size:15pt;
    cursor:pointer;
    margin-left:167px;
}

main .chat_block{
    background:url("/static/images/chat.png") no-repeat right 10px;
    width:370px;
    height:500px;
    float:right;
}

main .claimform .info{
    background-color:rgba(255,255,255,0.7);
    margin:5px auto 40px auto;
    border:1px solid rgba(70,70,70,0.7);
    border-radius:8px;
    padding:10px;
}

main .claimform .info a{
    color:#44c5e2;
}

main .chat_block .chat_list{
    width:230px;
    height:420px;
    border:2px solid #44c5e2;
    border-radius:8px;
    background-color:rgba(255,255,255,0.7);
}

main .chat_block form input{
    margin:5px 0 0 0;
    border:1px solid #44c5e2;
    padding:4px;
    width:155px;
}

main .chat_block form div{
    margin-top:8px;
    font-size:11.5pt;
    text-align:center;
    background:rgba(19,143,202,0.4);
    width:226px;
    padding:4px;
}

main .chat_block .title{
    font-size:18pt;
    width:226px;
}

main .chat_block .title span{
    float:right;
    font-size:11pt;
    line-height:37px;
}

main .chat_block .title span i{
    font-style:normal;
}

main .chat_block form button{
    width:60px;
    border:1px solid #3b3b3d;
    color:#3b3b3d;
    padding:3px;
    font-size:11pt;
    cursor:pointer;
    margin-left:5px;
}

main .chat_block .chat_lng{
    padding:4px;
    overflow-y:scroll;
    width:218px;
    height:400px;
}

main .chat_block .chat_lng div{
    padding:4px 2px;
    font-size:10pt;
    line-height:17px;
    word-break: break-all;
}



main .chat_block .chat_lng label{
    background:rgba(36,184,235,0.7);
    color:white;
    border-radius:4px;
    padding:1px 3px;
    margin-right:5px;
    font-size:10pt;
}

.claimform table td{
    padding:7px;
}

.robotcaptcha input{
    display:none;
}

.robotcaptcha div{
    display:inline-block;
    vertical-align:top;
    border:1px solid #aa1801;
    background-color:rgba(255,255,255,0.8);
    text-align:center;
    margin:2px 1px;
    width:145px;
    margin-bottom:6px;
}

.robotcaptcha div.sel{
    border-bottom:6px solid #aa1801;
    margin-bottom:1px;
}

.clear{
clear:both;
}

@media (min-width: 1500px) {
   .leftbanner{
        position:absolute;
        display:block;
        top:480px;
        left:30px;
        width:200px;
    }
}

.claiming{
    position:relative
}

.claiming span{
    position:absolute;
    top:70px;
    left:200px;
    font-size:30pt;
}