<!DOCTYPE html>
<html lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style id="stndz-style"></style>
	<title>Robotics XLR Faucet</title>
	<meta name="description" content="cryptocurrency, pool, marketplace, faucet">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">
<body>
    <header>
        <a href="/">
            <div class="logo"></div>
            <div class="logo_txt">Robotics XLR Faucet</div>
            <div class="logo_txt2">Modern automatic faucet</div>
        </a>
        <div class="current_reward">
            <span>Current reward: {{ format_price(reward,8) }} XLR</span>
        </div>
        <div class="balance">
            <span>Faucet balance<br>{{ format_price(balance,4) }} XLR</span>
        </div>
    </header>
    <section class="advertising">
        <div class="block" style="width:320px;">
            <iframe data-aa='765199' src='//acceptable.a-ads.com/765199' scrolling='no' style='border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
        </div>
        <div class="block" style="width:700px;">
            <iframe src="https://coinmedia.co/new_code_site67270.js" scrolling="no" frameborder="0" width="728px" height="120px"></iframe>
        </div>
        <div class="block">
            <iframe data-aa='765200' src='//ad.a-ads.com/765200?size=468x60' scrolling='no' style='width:468px; height:60px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
        </div>
    </section>
    <div class="leftbanner">
        <iframe data-aa='765340' src='//ad.a-ads.com/765340?size=120x600' scrolling='no' style='width:120px; height:600px; border:0px; padding:0;overflow:hidden' allowtransparency='true'></iframe>
    </div>
    <main>
        <form class="claimform" action="/claim/" method="post">

            <div class="info">
                This faucet pays new XLR coin (xevan algo),  read more info and get wallet you
                can here: <a href="https://bitcointalk.org/index.php?topic=1831629.0">https://bitcointalk.org/index.php?topic=1831629.0</a>
                <br><br>
                You can also use XLR deposit address from <a href="https://cryptohub.online/">CryptoHub.online</a> project for collecting this coin.
            </div>

            <input name=_csrf_token type="hidden" value="{{ csrf_token() }}">
            <div class="reward_title">Get reward now</div>
            {% if not need_wait %}
            <table>
                <tr><td>XLR address</td><td><input type="text" name="adr" value="{{ adr }}"></td></tr>
                <tr><td colspan="2">
                    <div>Select all robots with <b>{{ task.0 }}</b></div>
                    <div class="robotcaptcha">
                        {% for t in task.2 %}
                        <div>
                            <input name="selected_robot" type="checkbox" value="{{ loop.index }}">
                            <img src="data:image/png;base64, {{ t }}">
                        </div>
                        {% endfor %}
                    </div>
                </td></tr>
                <tr>
                    <td colspan="2"><input type="submit" class="subm" value="Get reward!"></td>
                </tr>
            </table>
            <div style="display:none" class="claiming">
                <div class="ret">
                    <img src="/static/images/claiming.gif">
                    <span>Claiming...</span>
                </div>
                <div class="reload">Reload page</div>
            </div>
            {% else %}
                <div class="wait">You have to wait {{ need_wait }} seconds</div>
            {% endif %}
        </form>
        <div class="chat_block">
            <div class="title">Chat <span>Online: <i></i></span></div>
            <div class="chat_list">
                <div class="chat_lng"></div>
            </div>
            <form method="post" class="chat_form">
                <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
                <input class="inp" type="text"> <button class="btn">Send</button>
                <div>Your nick: <span class="nick">{{ nick }}</span> (automatic)</div>
            </form>
        </div>
        <div class="clear"></div>
    </main>

    <footer>
        <div class="support">
            <div class="title">How to support the faucet?</div>
            <div class="donate">
                <div>Make donation in XLR</div>
                <img src="/static/images/qr.png">
                <span>Once your payment is found faucet balance will be increased</span>
                <div class="adr">XLR address: SZmo7oNi853Jj2G8SWeKLijQ9M6jP86v93</div>
            </div>
            <div class="click">
                <div>Click on an advertising</div>
                <span>Only 1 time per day: click on random advertising</span><br><br>
                <span>Once advertising system pays faucet balance will be increased</span>
            </div>
        </div>
    </footer>
    <script src="/static/jquery-1.11.3.min.js"></script>
	<script src="/static/script.js?rev=8"></script>
</body>
</html>